$header-background-image: url('../img/m-h-night.jpg');
$color-split-off: #ff4e33;
$main-color-text: white;
$color-button-header: #e3ac00;
$main-color: #21232e;
$sectiones-backgroundAndFooter-color: #3b3f50;
$text-color: #d1d1d1;
$color-gradient-start: #e2ab01;
$color-gradient-end: #9b3949;
$font-size-header1: 48px;
$font-size-header2: 24px;
$font-size-headers: 18px;
$font-size-text: 16px;