$header-background-image: url('../img/m-h-day.jpg');
$color-split-off: #14a0c7;
$main-color-text: #2c2f3c;
$color-button-header: #699900;
$main-color: #fff;
$sectiones-backgroundAndFooter-color: #21232e;
$text-color: #c0c3ce;
$color-gradient-start: #65950e;
$color-gradient-end: #3261c7;
$font-size-header1: 48px;
$font-size-header2: 24px;
$font-size-headers: 18px;
$font-size-text: 16px;